.hero_text {
  color: white;
  width: 40vw;
  font-size: 40px;
  margin-bottom: 10px;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;

    width: 20px;
    height: 5px;
    background: rgb(41, 69, 85);
    background: linear-gradient(
      90deg,
      rgba(41, 69, 85, 1) 0%,
      rgb(93, 41, 138) 30%,
      rgb(219, 67, 25) 80%,
      rgb(189, 103, 4) 100%
    );
  }
}

.hero_text:hover {
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    transition: 1s;
    width: 100%;
    background: rgb(41, 69, 85);
    background: linear-gradient(
      90deg,
      rgba(41, 69, 85, 1) 0%,
      rgb(93, 41, 138) 30%,
      rgb(219, 67, 25) 80%,
      rgb(189, 103, 4) 100%
    );
  }
}
